[run]
source =
    Alpha
    CustomIndicators
    Data
    Execution
    Initialization
    Monitor
    Order
    PortfolioConstruction
    Strategy
    Tools

omit =
    Tests/*
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError

[html]
directory = htmlcov 