[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mamba = "*"
args = "*"
clint = "*"
contourpy = "*"
coverage = "*"
cycler = "*"
fonttools = "*"
kiwisolver = "*"
matplotlib = "*"
numpy = "*"
packaging = "*"
pandas = "*"
pillow = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
quantconnect-stubs = "*"
six = "*"
tzdata = "*"
expects = "*"
pytest = "*"
mock = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.8"
